# Environment variables :
.env

# Node packages :
node_modules
package-lock.json

# GraphQL code gen :
graphql.schema.json

# Secret token : 
token.txt

# Project build :
build

# MongoDB data :
mongodb